<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h1><%-title %></h1>
    <p>Welcome <%- user.name + ' ' + user.surname %></p>
  </div>
  <% lastExpenses.forEach(function (expense) { %>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="demo-card-event mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h4>
                <%= expense.name %><br>
                <%= expense.date.toLocaleDateString() %><br>
                <%= expense.amount %> zl<br>
              </h4>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <%= expense.category %><br>
            </div>
          </div>
    </div>
    
    <% }) %>
</div>
