<div class="mdl-grid mdl-grid--color">
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp mdl-cell--color mdl-cell-select">
        <div id="income-box" class="box-dashboard">
            <span>Przychody:<%= incomeAmount %> zł</span> 
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp mdl-cell--color">
        <div id="expenses-box" class="box-dashboard">
            <span>Wydatki:<%= expensesAmount %> zł</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp mdl-cell--color">
        <% if(budget != 0) { %>
            <div id="budget-box" class="box-dashboard">
                <span>Budzet:<%= budget %></span>
            </div>
        <% }else {%>
            <a href="/actions"><div id="budget-box" class="box-dashboard">
                <span>Określ swój budżet</span>
            </div></a>
        <% } %>
            
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-shadow--2dp mdl-cell--color">
        <div id="piggybank-box" class="box-dashboard"> 
            <% if(toSpendMoney != 0) { %>
                <span>Pozostało: <%= toSpendMoney %></span>
            <% } else { %>
                <span>Bez budżetu nie ma zabawy :( </span>
            <% } %>
            
        </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
        <table id="table-last-transactions" class="mdl-data-table mdl-js-data-table mdl-data-table--resp">
            <thead>
                <tr>
                <th></th>
                <th class="mdl-data-table__cell--non-numeric">Nazwa wydatku</th>
                <th>Data</th>
                <th>Cena</th>
                </tr>
            </thead>
            <% lastTransactions.forEach(function (transaction) { %>
                <tbody>
                <tr>
                    <% if(transaction.typeId === 1) { %>
                    <td class="table-row-small"><i class="material-icons md-red"><i class="material-icons">arrow_downward</i></td>
                    <% } else { %>
                    <td class="table-row-small"><i class="material-icons md-green"><i class="material-icons">arrow_upward</i></td>              
                    <% } %>
                    <td class="mdl-data-table__cell--non-numeric"><%= transaction.name %></td>
                    <td><%= transaction.transaction_date.toLocaleDateString() %></td>
                    <td><%= transaction.amount %> zł</td>
                </tr>
                </tbody>
            <% }) %>
        </table>
    </div>
    
    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="annual-chart-dashboard"></canvas>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp mdl-cell--color">
        <div>
            <canvas id="categories-chart-dashboard-monthly"></canvas>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp mdl-cell--color">
        
    </div>
        <div class="mdl-cell mdl-cell--4-col mdl-shadow--2dp mdl-cell--color">       
    </div>
</div>

<script src="../js/chartsForDashboard.js"></script>

