<% include ../header %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
mdl-layout--fixed-header">
  <%- include ../partials/nav %>
  <%- include ../partials/sidebarNav %>
  <main class="mdl-layout__content">
    <%= user.email %><%= user.id %>
    <div class="page-content">
        <%- include dashboard %>
    </div>
  </main>
</div>
<% include ../footer %>
